<% layout("/layouts/boilerplate") %>
<div class="row row-col-lg-4 row-col-md-3 row-col-sm-2 mt-3">
  <% for(let listing of allList) {%>

    <div class="card mt-3" style="width: 20rem;">

      <a href="/listing/<%= listing._id %>" class="stretched-link">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listingimage" style="height: 20rem;">
      </a>
      <div class="card-body shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <p class="card-text">
          <b><%= listing.title %><br></b>
          &#8377; <%= listing.price.toLocaleString("en-IN") %>
        </p>
      </div>
      
    </div>

  <% } %>
</div>

  <!-- <ul>
    <% for(let listing of allList) {%>
      <li><a href="/listing/<%= listing._id %>"><%= listing.title %></a></li>
    <% } %>
  </ul> -->
  <!-- <form method="get" action="/listing/new">
    <button>Create New listing</button>
  </form> -->
</body>


