<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8">
    <form method="post" action="/listing/<%= listing._id %>?_method=patch">

      <div class="mb-3">
        <label for="title" class="form-label"><b>Title:</b></label>
        <input name="title" class="form-control" value="<%= listing.title %>" type="text">
      </div>

      <div class="mb-3">
        <label for="description" class="form-label"><b>Description:</b></label>
        <textarea name="description" class="form-control" value="<%= listing.description %>"></textarea>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label"><b>Image URL:</b></label>
        <input name="image" class="form-control"  value="<%= listing.image %>" type="text">
      </div>
      
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label"><b>Price:</b></label>
          <input name="price" class="form-control" value="<%= listing.price %>" type="number">
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label"><b>Country:</b></label>
          <input name="country" class="form-control" value="<%= listing.country %>" type="text">
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label"><b>Location:</b></label>
        <input name="location" class="form-control" value="<%= listing.location %>" type="text">
      </div>


      <br>
      <button type="submit" class="btn btn-primary btn-lg">Edit</button>
    </form>
  </div>
</div>

